*{
  font-family: 'Quicksand', sans-serif;
  padding-left:15px;

}
.check
{
  transform: scale(2);
  margin:30px;

}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  p
  {
    text-align: center;
    
  }

  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20x;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:20px;
  }

  .red-btn
  {
    background-color: indianred;
  }
  .blue-btn
  {
    background-color: lightskyblue;
  }
  .todo-item ul li
  {
    list-style: none;
    padding:25px;
    margin:15px;
    border-radius: 10px;

    background-color: rgb(247, 242, 196);
  }

  .todo-item ul li button
  {
    float: right;
    border-radius: 15px;

  }

  .todo-form
  {
    border:2px solid greenyellow;
    border-radius: 10%;
  }

  .done
  {
    background-color: indianred;
  }

  h1{
    font-size: 60px;
  }